PORT=5000
NODE_ENV=development
DATABASE_PUBLIC_URL="postgresql://postgres:xEumdkidBTSCqwakEWRedVvxvlYPxQgI@:/railway"
DATABASE_URL="postgresql://postgres:xEumdkidBTSCqwakEWRedVvxvlYPxQgI@postgres.railway.internal:5432/railway"
CORS_ORIGIN="http://localhost:5173"
JWT_SECRET="change-me-in-production"
